In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [3]:
base = ['Make','Model','Year','Engine HP','Engine Cylinders','Transmission Type','Vehicle Style',
'highway MPG','city mpg','MSRP']
df = df[base]

In [4]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [5]:
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,msrp
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

In [6]:
df.fillna(0,inplace=True)

In [7]:
df.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

In [8]:
df.columns = df.columns.str.replace('msrp', 'price')

In [9]:
df.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500

#### QUESTION 1: What is the most frequent observation (mode) for the column transmission_type?

In [10]:
df['transmission_type'].mode()

0    AUTOMATIC
Name: transmission_type, dtype: object

#### QUESTION 2: Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.

#### What are the two features that have the biggest correlation in this dataset?

In [11]:
numerical = ['year','engine_hp','engine_cylinders','highway_mpg','city_mpg']

In [12]:
df.corr()

,year,engine_hp,engine_cylinders,highway_mpg,city_mpg,price
year,1.000000,0.338714,-0.040708,0.258240,0.198171,0.227590
engine_hp,0.338714,1.000000,0.774851,-0.415707,-0.424918,0.650095
engine_cylinders,-0.040708,0.774851,1.000000,-0.614541,-0.587306,0.526274
highway_mpg,0.258240,-0.415707,-0.614541,1.000000,0.886829,-0.160043
city_mpg,0.198171,-0.424918,-0.587306,0.886829,1.000000,-0.157676
price,0.227590,0.650095,0.526274,-0.160043,-0.157676,1.000000

#### The highest pair is engine_cylinders and engine_horsepower

In [13]:
df['price'] = df['price']>df['price'].mean()

In [14]:
df['price']=df['price'].astype(int)

In [15]:
df

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,0
...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,1
11910,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,1
11911,Acura,ZDX,2012,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,1
11912,Acura,ZDX,2013,300.0,6.0,AUTOMATIC,4dr Hatchback,23,16,1
11913,Lincoln,Zephyr,2006,221.0,6.0,AUTOMATIC,Sedan,26,17,0

In [16]:
from sklearn.model_selection import train_test_split
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [17]:
len(df_train), len(df_val), len(df_test)

(7148, 2383, 2383)

In [18]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [19]:
y_train = df_train.price.values
y_val = df_val.price.values
y_test = df_test.price.values

#del df_train['price']
#del df_val['price']
#del df_test['price']

#### QUESTION 3: Calculate the mutual information score between above_average and other categorical variables in our dataset. Use the training set only.

#### Round the scores to 2 decimals using round(score, 2).

In [20]:
categorical =['model','transmission_type','vehicle_style','make']

In [21]:
from sklearn.metrics import mutual_info_score

In [22]:
mutual_info_score(df_train.price, df_train.model)

0.46234389209653004

In [23]:
mutual_info_score(df_train.price, df_train.transmission_type)

0.02095754189630187

In [24]:
mutual_info_score(df_train.price, df_train.vehicle_style)

0.08414301956779438

In [25]:
mutual_info_score(df_train.price, df_train.make)

0.23976875439118348

#### Car transmission type has the lowest mutual_info_score with price

#### QUESTION 4: Now let's train a logistic regression.
#### Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.
#### Fit the model on the training dataset.
#### To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
#### model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
#### Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

In [26]:
from sklearn.feature_extraction import DictVectorizer

In [29]:
dv = DictVectorizer(sparse=False)
from sklearn.linear_model import LogisticRegression

In [30]:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)

In [31]:
train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

In [32]:
val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [34]:
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [35]:
model.intercept_[0]

-0.2606016693158045

In [36]:
y_pred = model.predict_proba(X_val)[:, 1]

In [37]:
y_pred >= 0.5

array([False,  True, False, ..., False,  True,  True])

In [38]:
price_decision = (y_pred >= 0.5)

In [107]:
(y_val == price_decision).mean()
orig_accuracy = (y_val == price_decision).mean()
orig_accuracy

0.9429290809903483

#### QUESTION 5: Implementing RFE

In [89]:
import copy

In [108]:
features = numerical+categorical

b = copy.copy(features)

for item in features:
    b.remove(item)
    train_dict = df_train[b].to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)
    
    model.fit(X_train,y_train)
    
    val_dict = df_val[categorical + numerical].to_dict(orient='records')
    X_val = dv.transform(val_dict)
    
    y_pred = model.predict_proba(X_val)[:, 1]
    
    y_pred >= 0.5
    price_decision = (y_pred >= 0.5)
    
    print(item)

    print(abs((y_val == price_decision).mean()-orig_accuracy))
    b=copy.copy(features)

year
0.006714225765841353
engine_hp
0.013428451531682817
engine_cylinders
0.0054553084347460645
highway_mpg
0.0016785564414603105
city_mpg
0.015107007973143127
model
0.05874947545111209
transmission_type
0.01720520352496857
vehicle_style
0.0

#### After trying the model with each feature removed separately, the feature that yielded the least difference is the highway_mpg.